.locationsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  width: 90%;
}

.locationsPage h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--linkText);
}

.locationsPage h1 button {
  font-size: 1.5rem;
  background-color: var(--linkText);
  color: var(--textPrimary);
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
}

.locationDataBlock {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.locations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.locations .location {
  border: 1px solid var(--bannerBackground);
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
  width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.locations .location .locationControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 8px;
  gap: 5px;
}
.locations .location .locationControls button {
  background-color: transparent;
  color: var(--linkText);
  border: none;
  font-size: 1.1rem;
}
.locations .location .locationControls button.setDefault {
  margin-right: auto;
  text-decoration: underline;
}
.locations .location .locationControls p.defaultTag {
  margin-right: auto;
  font-weight: 800;
  color: var(--bannerBackground);
  background-color: var(--buttonSecondary);
  padding: 3px;
  border-radius: 4px;
}
.locations .location .locationControls button.deleteLocationButton {
  color: darkred;
}
.locations .location .locationControls button:hover {
  color: var(--textSecondary);
}

.addLocationForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  border: 1px solid var(--bannerBackground);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
}

.addLocationForm form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}
.addLocationForm form div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.addLocationForm form button[type="submit"] {
  background-color: var(--buttonPrimary);
  color: var(--textPrimary);
  padding: 4px 12px;
  border-radius: 6px;
  border: none;
  box-shadow: -1px 1px 4px #000;
}
