.registerContainer {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.registerContainer .registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.registrationForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-end !important;
  width: 100%;
}

.registrationForm div label {
  font-size: 12px;
  font-weight: 800;
  color: var(--textSecondary);
}

.registrationForm div input:not(input[type="checkbox"]),
select {
  font-size: 18px !important;
  padding: 6px !important;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
  width: 100%;
}

.registrationForm div.adminCheck {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center !important;
}
.registrationForm div.adminCheck label {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.registrationForm button[type="submit"] {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  font-size: 26px;
  padding: 6px 30px;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
  margin-top: 2rem;
}
