.ticketListPage {
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.ticketControls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--bannerBackground);
  padding: 1rem;
  border-radius: 8px;
}

.autoDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.autoDateButtons {
  display: flex;
  gap: 0.5rem;
}
.autoDateButtons button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--linkText);
  color: var(--textPrimary);
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.ticketListDatePicker {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.ticketListDatePicker label {
  font-size: 14px;
  color: var(--textSecondary);
  display: flex;
  flex-direction: column;
}
.ticketListDatePicker input {
  padding: 0.5rem;
  border: 1px solid var(--linkText);
  border-radius: 6px;
  font-size: 16px;
}

.listOfTickets {
  flex: 1;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfTickets p.noTickets {
  margin-block: 1rem;
  font-size: 18px;
  color: darkred;
}

.listOfTickets ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
  width: 90%;
}

.listOfTickets ul li button.viewThisTicket {
  background-color: var(--linkText);
  border: 1px solid var(--buttonPrimary);
  border-radius: 8px;
  color: var(--textPrimary);
  font-size: 18px;
  padding: 4px 12px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: -1px 1px 5px #444;
}

.ticketItem {
  width: 100%;
  border: 1px solid var(--bannerBackground);
  background-color: #e1e1e6;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ticketItem p {
  font-weight: bold;
}
.ticketItem p span {
  font-weight: normal;
}

.ticketItem .ticketMetaData {
  border-bottom: 1px solid var(--linkText);
  padding-bottom: 10px;
}

.ticketItem .ticketTransactions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ticketItem .ticketTransactions .transactionHeader {
  margin-bottom: 0.5rem;
  color: var(--bannerBackground);
}

.transactionLineItem {
  border: 1px solid var(--bannerBackground);
  padding: 0.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
