.userBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  border-bottom: 2px solid var(--linkText);
  width: 90%;
  justify-self: center;
  position: relative;
}

.homeUser {
  align-self: flex-start;
  font-size: 2rem;
  color: var(--linkText);
}

.userBarButtonBlock {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.userBarButtonBlock button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--textSecondary);
}

.userBarButtonBlock button.activeButton {
  color: var(--bannerBackground);
}

.userMenu {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: var(--textSecondary);
  border: 2px solid var(--bannerBackground);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.userMenu a {
  color: var(--textPrimary);
  text-decoration: none;
  font-size: 1.2rem;
  width: 100%;
  text-align: end;
  border: 0.3px solid #fff;
  padding: 10px 6px 10px 18px;
  font-size: 18px;
}
