.loginContainer {
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.loginContainer h1.loginHeader {
  font-size: 2.8rem;
  color: var(--linkText);
  font-weight: 600;
}

.loginContainer .loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 80%;
  max-width: 600px;
}

.loginForm div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}

.loginForm div label {
  font-size: 12px;
  font-weight: 800;
  color: var(--textSecondary);
}

.loginForm div input {
  font-size: 28px !important;
  padding: 6px !important;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
  width: 100% !important;
}

.loginForm button[type="submit"] {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  font-size: 26px;
  padding: 6px 30px;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
  margin-top: 2rem;
}
