.reportsPage {
  width: 100%;
  max-width: 1600px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.reportFilters {
  padding: 1rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  min-height: 30rem;
}

.reportFilters > div {
  border: 1px solid var(--linkText);
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.reportFilters > div:first-child {
  min-height: 8rem;
}

.reportType {
  display: flex;
  flex-direction: column;
}

.reportDate {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.reportDate label {
  display: flex;
  flex-direction: column;
}

.reportDate label input[type="date"] {
  border-radius: 8px;
}

.paramList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.paramList li {
  border: 1px solid var(--linkText);
  border-radius: 6px;
  padding: 0;
  transition: background-color 0.2s;
}
.paramList li input[type="checkbox"] {
  display: none;
}

.paramList li label {
  display: block;
  width: 100%;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 6px;
  transition:
    background-color 0.2s,
    color 0.2s;
}

.paramList li input[type="checkbox"]:checked + label {
  background-color: var(--bannerBackground);
  color: var(--linkText);
}

button.runnit {
  align-self: center;
  font-size: 1.6rem;
  padding: 10px 24px;
  border-radius: 8px;
  border: none;
  background-color: var(--bannerBackground);
  color: var(--textPrimary);

  box-shadow: -1px 1px 4px #000;

  margin-top: auto;
}

.reported {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}

/* ==========================
   Mobile / Responsive styles
   ========================== */

@media (max-width: 768px) {
  .reportsPage {
    flex-direction: column;
    align-items: center;
  }

  .reportFilters {
    padding: 1rem;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    min-height: 15rem;
  }

  button.runnit {
    align-self: center;
    font-size: 1.6rem;
    padding: 10px 24px;
    border-radius: 8px;
    border: none;
    background-color: var(--bannerBackground);
    color: var(--textPrimary);

    box-shadow: -1px 1px 4px #000;
  }

  .reported {
    width: 100%;
  }
}
