.deductionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.deductionSearchBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.deductionSearchBar div:first-child {
  display: flex;
  gap: 4px;
}
.deductionSearchBar div:first-child button {
  background-color: var(--linkText);
  color: var(--textPrimary);
  padding: 3px 8px;
  border: none;
  border-radius: 2px;
}
.deductionSearchBar input {
  width: 100%;
  font-size: 18px;
  color: var(--bannerBackground);
  border: 1px solid var(--linkText);
}

.deductionList {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1500px;
}

.deductionList li {
  border: 2px solid var(--linkText);
  border-radius: 8px;
  padding: 10px;
  color: var(--buttonPrimary);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.deductionList li:hover {
  background-color: var(--linkText);
  color: var(--textPrimary);
}

.deductionList li div small {
  font-size: 14px;
}
