.rankingsPage {
  width: 100%;
  max-width: 1000px;
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthPicker {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.monthPicker button {
  font-size: 1.5rem;
  border: none;
  border-radius: 8px;
  padding: 8px 40px;
  background-color: var(--linkText);
  color: var(--bannerBackground);
}

.monthPicker span {
  font-size: 2rem;
}

.userRank {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.userRank select {
  width: fit-content;
  text-align: center;
}

ul.rankingsBoard {
  width: 80%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul.rankingsBoard li {
  border: 1px solid var(--linkText);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
}

ul.rankingsBoard li svg.theKing {
  color: goldenrod;
  position: absolute;
  font-size: 2.2rem;
  top: -22px;
  left: -24px;
  transform: rotate(-40deg);
}
