.registerHeader,
.loginHeader {
  font-size: 3rem;
  text-align: center;
  color: var(--linkText);
  margin-top: 2rem;
}

.registrationForm {
  margin-top: 2rem;
  border: 4px solid var(--linkText);
  border-radius: 8px;
  padding: 10px;
  box-shadow: -1px 1px 16px var(--linkText);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  width: 60vw;
}

.registrationForm div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.registrationForm div label {
  font-weight: 600;
  font-size: 12px;
  padding-left: 2px;
  align-self: flex-start;
}

.registrationForm div input,
select {
  height: 38px;
  border: 1px solid var(--background);
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  color: var(--background);
  padding: 2px 6px;
}

.registrationForm div.adminCheck {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  align-self: flex-start;
}
.registrationForm div.adminCheck label {
  font-size: 1rem;
  align-self: center;
}
.registrationForm div input[type="checkbox"] {
  width: unset;
}

.registrationForm button {
  background-color: var(--linkText);
  color: var(--textPrimary);
  padding: 12px 30px;
  font-size: 24px;
  border: none;
  border-radius: 6px;
  box-shadow: -1px 1px 8px #000;
  margin-block: 1rem;
}
