.reportPage {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin: 0 auto;
}

.reportHeader {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.reportHeader div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reportHeader div:first-child > * {
  width: 100%;
  border-radius: 8px;
  font-size: 24px !important;
}

.reportHeader .headerControls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reportHeader .headerControls button {
  background-color: var(--linkText);
  color: var(--textPrimary);
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 6px #000;
  font-size: 22px;
}

/* ==========================
   Mobile / Responsive styles
   ========================== */

@media (max-width: 768px) {
  .reportHeader {
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
  }

  .reportHeader .headerControls {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
