.ticketContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
}

.ticketContainer .ticketForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  width: 90%;
  margin: 0 auto;
}

.ticketForm .formTopBar {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid var(--linkText);
  padding-bottom: 1rem;
}

.ticketForm .formTopBar div {
  display: flex;
  flex-direction: column;
}
.ticketForm .formTopBar .unitCount {
  flex-direction: row;
  gap: 10px;
  font-weight: 700;
}
.ticketForm .formTopBar .locale {
  flex-direction: row;
  gap: 10px;
  font-weight: 700;
}

.ticketForm .formTopBar div input {
  font-size: 24px !important;
  border: none;
  border-radius: 8px;
  box-shadow: -1px 1px 4px #000;
  padding: 4px 8px;
}

select.adminUserSelect {
  height: 36px !important;
  border-radius: 8px !important;
  padding-inline: 4px !important;
}

.ticketForm .lineItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  width: 100%;
  min-height: 12rem;
  /* border: 1px solid; */
}

.ticketForm .lineItems h3 {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.ticketForm .lineItems h3 button {
  background-color: transparent;
  border: none;
  color: var(--bannerBackground);
  font-size: 1.4rem;
}

.ticketForm .lineItems .lineItem {
  width: 100%;
  display: flex;
  gap: 10px;
  border: 2px solid var(--linkText);
  border-radius: 4px;
  padding: 18px 8px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  position: relative;
  box-shadow: -1px 1px 4px #333;
}

.lineItems .lineItem div:not(.returnBox) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.returnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.lineItems .lineItem div label {
  font-size: 12px;
}

.lineItems .lineItem select,
input {
  font-size: 18px !important;
  padding: 4px !important;
  background-color: transparent;
  border: 1px solid var(--background);
  border-radius: 0;
  box-shadow: unset;
  flex: 1;
  border-radius: 8px;
}

.lineItem input.unitPriceInput {
  width: 45%;
  font-size: 18px !important;
  border-radius: 8px;
}

button.removeLiButton {
  position: absolute;
  top: -12%;
  left: -1.3%;
  background-color: darkred;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 3px;
  height: 24px;
  width: 24px;
}

.ticketForm button[type="submit"] {
  background-color: var(--buttonSecondary);
  color: var(--textPrimary);
  font-size: 1.8rem;
  padding: 10px 24px;
  border-radius: 8px;
  margin-top: 2rem;
}
.ticketForm button[type="submit"]:disabled {
  background-color: #888;
  color: #555;
  cursor: not-allowed;
}

/* ==========================
   Mobile / Responsive styles
   ========================== */

@media (max-width: 768px) {
  .ticketContainer .ticketForm {
    padding: 0;
  }

  .ticketForm .formTopBar {
    width: 100%;
  }
  .ticketForm .formTopBar div input {
    padding: 4px 8px;
    width: fit-content;
  }

  .ticketForm .lineItems .lineItem {
    flex-direction: column;
    align-items: flex-start;
  }

  button.removeLiButton {
    top: -5%;
    left: -2.5%;
  }

  .returnBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }
}
