.userSettingsPage {
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.userSettingsPage div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userListInSettings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.userListInSettings h2 {
  color: var(--bannerBackground);
}

.userListInSettings ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.6rem;
  list-style-type: none;
}

.userListInSettings ul li {
  font-size: 20px;
  border: 1px solid var(--linkText);
  border-radius: 8px;
  padding: 0.6rem;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userListInSettings ul li > div {
  width: 100%;
  padding: 10px;
}

.userListInSettings div.userControls {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-block: 5px;
}
.userListInSettings div.userControls button {
  padding: 4px 10px;
  background-color: transparent;
  border: 1px solid var(--bannerBackground);
  border-radius: 6px;
  display: flex;
  gap: 8px;
  font-size: 18px;
  cursor: pointer;
}

.userListInSettings div.userControls svg {
  color: var(--buttonPrimary);
}

.userListInSettings div.userControls svg.deleteUser {
  color: darkred;
}

.userListInSettings div.userControls svg.terminateUser {
  color: darkorange;
}

.userListInSettings div.userControls button:hover {
  background-color: var(--linkText);
  color: var(--textPrimary);
}

/* ==========================
   Mobile / Responsive styles
   ========================== */

@media (max-width: 768px) {
  .userSettingsPage {
    flex-direction: column;
    gap: 2rem;
  }

  .userListInSettings {
    width: 100%;
    flex-direction: column;
  }

  .userListInSettings ul {
    align-items: center;
    width: 100%;
  }

  .userListInSettings ul li {
    width: 100%;
  }

  .userListInSettings div.userControls {
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-block: 5px;
  }
  .userListInSettings div.userControls button {
    padding: 8px;
    background-color: transparent;
    border: 1px solid var(--bannerBackground);
    border-radius: 6px;
    display: flex;
    gap: 8px;
    font-size: 18px;
    cursor: pointer;
  }

  .registerFormInSettings {
    align-items: center;
    width: 100%;
    margin-top: 4rem;
  }
}
